
@font-face {
    font-family: 'LigatureSymbols';
    src: url('LigatureSymbols-2.05.eot');
    src: url('LigatureSymbols-2.05.eot?#iefix') format('embedded-opentype'),
         url('LigatureSymbols-2.05.woff') format('woff'),
         url('LigatureSymbols-2.05.ttf') format('truetype'),
         url('LigatureSymbols-2.05.svg#LigatureSymbols') format('svg');
    src: url('LigatureSymbols-2.05.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

#extramural{
  display: none;
}
#part-time{
  display: none;
}
  #find{
    width: 180px;
    height: 50px;
    border: black solid 1px;
    border-radius: 10px;
    background: rgba(52, 177, 69, 0.863);
    color: white;
    text-align: center;
  }
  #refresh{
    width: 160px;
    height: 50px;
    border: black solid 1px;
    border-radius: 30px;
    background: rgba(52, 127, 177, 0.863);
    color: white;
    text-align: center;
  }
  #info{
    width: 120px;
    height: 30px;
    border: rgba(21, 163, 52, 0.021) solid 1px;
    border-radius: 40px;
    background: rgba(197, 195, 186, 0.863);
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .help{
      font-size: 16px;
    margin-top: 20px;
 margin-bottom: 20px;
margin-left: 5%;
margin-right: 5%;
    
  }

  #regist{
    display: none;
    white-space: pre-line;
    max-height: 95%;
    overflow: auto;
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
   padding-left: 10px;
   padding-right: 10px;
    background: #fff;
    border: #1c5a8a solid 2px !important;
}
  
  @media only screen and (min-width: 768px) {
    #regist{
      display: none;
      white-space: pre-line;
      width: 60%;
      max-height: 95%;
      overflow: auto;
      position: fixed;
      z-index: 11;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: #1c5a8a solid 2px !important;
      background: #fff;
  }
    }
  

  .regist__close{
    
   text-align: right;
  }
  #register__logo{
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top:10px; 
  }
  body {background: #fafafa}
  
  .register__shift{
    color: #f8faf1;
    text-align: center;
    font-size: 18px;
    position: relative;
    background: black;
    width: 80%;
    height: 20%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
  }
  @media only screen and (min-width: 768px) {
    .register__shift{
      color: #f8faf1;
    text-align: center;
    font-size: 18px;
    position: relative;
    background: black;
    width: 50%;
    height: 20%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
    }
  }
  .register__block{
    margin-top: 40px;
    width: 100%;
    height: 80%;
    position: relative;
  }
  .register__link{
    position: relative;
    top: 25%;
  }
  .info__choice{
   
      width: 100%;
   
  }
  @media only screen and (min-width: 768px) {
    .info__choice {
        margin-left: 10%;
        width: 50%;
        float: left;
    }
}
  select{
      display: block;
    height: 30px;
    width: 50% !important;
    border: #998980 solid 2px !important;
    
  }
 #info{
   position: relative;
   left: 15%;
   translate: transform(-15%);
 }
  .info{
    margin: auto
  }
  .info-time{
position: relative;
left: 50%;
transform: translate(-50%,0);
   margin-top: 10px;
text-align: center;
    height: 60px;
   width: 40%;
   color: #3e3f41;
   background: #60a0c5;
   border: #5e72e4 solid 2px;
  
  }
  @media only screen and (min-width: 768px) {
    .info-time{
      position: relative;
      left: 50%;
      transform: translate(-50%,0);
         margin-top: 10px;
      text-align: center;
          height: 60px;
         width: 30%;
         background: #e2e2c5;
         border: #b4b491 solid 2px;
    }
  }
  #o{
    display: block;

  }
  #oz{
    display: none;

  }
  #z{
    display: none;
  }
  .info{
    width:90%;
    margin: auto;
    border: #7c634c solid 1px;
    background: #fdfdfd;
    border-radius: 20px
  }
  .info-time div{
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top:50%;
    transform: translate(0,-50%);
    
  }
  .info-main{
   
    width: 90%;
      
      background: #f5f5ee;
      display: table;
      
      border-top: #ada094 solid 1px;
      border-right: #ada094 solid 2px;
      border-left: #ada094 solid 2px;
      border-bottom: #ada094 solid 2px;
      margin: 8% auto 8% auto;
  }
  @media only screen and (min-width: 768px) {
    .info-main {
      width: 85%;
      
      background: #f5f5ee;
      display: table;
     
      border-top: #ada094 solid 1px;
   
    
      border-bottom: #ada094 solid 1px;
      margin: 6% auto 6% auto;
    }
  }
  .info-main__name{
    
     padding: 10px 5px 10px 5px;
   
     border-top: #ada094 solid 1px;
   
    
     border-bottom: #ada094 solid 1px;
   
  }
 
  
  .info-main__lot{
    border-top: #ada094 solid 1px;
    border-left: #ada094 solid 2px;
   width: 60%;
   float:left;
   
   
   
  }
  .info-main__lotn{

  border-top: #ada094 solid 1px;

  
   width: 40%;
   float:left;
   padding: 40px 5px 10px 5px;

   
  }
  .info-main__pred{
    border-top: #ada094 solid 1px;
    border-left: #ada094 solid 2px;
   width: 50%;
   float:left;
  }
  .info-main__war{
    border-top: #ada094 solid 2px;
    padding: 10px 5px 10px 5px;
  }
  .info-main__lot div{
  
   
 
    padding: 5px 2px 5px 2px;
  
 
   
  }
  .info-main__title{

    text-decoration: none;
    text-align: center;
    font-size: 17px !important; 
    border: #ada094 solid 2px;
     background: #cccccc;
     padding: 10px 5px 10px 5px;

   
  }
  .info-main__title a{
    color: black !important; /* Цвет ссылок */
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
    overflow: hidden;
  }
  body {
    overflow: auto; /* добавить полосу прокрутки */ 
  }
 
  button {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 180px;
    height: 50px;
    border: black solid 1px;
    background: #202020;
    color: white;
    text-align: center;
  }
  .header {
    width: 100%;
    position: static;
  }
  .top {
    background: #f7f8f1;
    height: 130px;
    display: grid;
    grid-template-columns: 1fr 2fr
  }
  .logo{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  
  }
  .autorization{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
  }
  .autorization__button{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  padding: 5px;
  height: 40px;
  border: #1c5a8a solid 3px;
  color:#1c5a8a;
  box-shadow: 0 0 1.5px#5493c2;
  font-weight: 550;
  border-radius: 4px;
  font-size: 12px;
  margin-right: 20px;
  }
  .autorization__info{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  padding: 5px;
  height: 40px;
  font-size: 12px;
  font-weight: 550;
  color: #545658;
  border: #545658 solid 3px;
  border-radius: 4px;
  margin-right: 20px;
  box-shadow: 0 0 1.5px#6a6c6e;
  }
  @media only screen and (min-width: 768px) {
    .autorization__button{
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;
    padding: 10px;
    height: 40px;
    border: #1c5a8a solid 3px;
    color:#1c5a8a;
    box-shadow: 0 0 1.5px#5493c2;
    font-weight: 550;
    border-radius: 4px;
    font-size: 15px;
    margin-right: 20px;
  }
  }
  @media only screen and (min-width: 768px) {
    .autorization__info{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  padding: 10px;
  height: 40px;
  font-size: 15px;
  font-weight: 550;
  color: #545658;
  border: #545658 solid 3px;
  border-radius: 4px;
  margin-right: 20px;
  box-shadow: 0 0 1.5px#6a6c6e;
  }
  }
  
  .bottom {
    background-color: #4f585f;
    height: 60px;
  }
  @media only screen and (min-width: 768px) {
    .bottom {
      background-color: #4f585f;
      height: 35px;
    }
  }
  @media only screen and (min-width: 992px) {
    .bottom {
      background-color: #4f585f;
      height: 35px;
    }
  }
  
    .bottom__menu {
      display: none;
    }
  
  @media only screen and (min-width: 768px) {
    .bottom__menu {
      background-color: #4f585f;
      height: 35px;
      width: 100%;
      display:flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;
    }
  }
  @media only screen and (min-width: 922px) {
    .bottom__menu {
  
      background-color: #4f585f;
      height: 35px;
      width: 100%;
      display:flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;
    }
  }
  
  .bottom__link :hover {
    background: black;
  }
  .bottom__link {
    display: none;
  }
  @media only screen and (min-width: 768px) {
    .bottom__link {
      color:white;
      font-size: 12px;
          height: inherit;
          display:flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
         
    }
  }
  @media only screen and (min-width: 992px) {
    .bottom__link{
      color:white;
  font-size: 14px;
      height: inherit;
      display:flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
     
    }
  }
  .auto-mobile{
    
    display: block;
  width: 100%;
   
    height: inherit;
  }
  @media only screen and (min-width: 768px) {
    .auto-mobile{
   
    display: none;
    }
  }
  #auto-mobile__wrap{
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  float: right;
  margin-right :40px;
   
    width: 30%;
    height: 40px;
    background: #ced5da;
   border-radius: 15px; 
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  .auto-mobile__text{
    color: rgb(41, 40, 39);
    position: relative;
    top:50%;
    text-align: center;
    transform: translate(0, -50%);
  }
  .option-input {
    position: relative;
    top: 13.33333px;
    
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px !important;
    width: 30px  !important;;
    background: #88af9d;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block  !important;;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
  
  }
  
  .option-input:checked {
    background: #058353;
  }
  .option-input:checked::before {
    height: 30px;
    width: 30px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 22.66667px;
    text-align: center;
    line-height: 30px;
  }
  

  .present-location {
    height: 30px;
    margin-left: 5px;
    margin-top: 13px;
  }
  @media only screen and (min-width: 768px) {
    .present-location {
      height: 30px;
      margin-left: 35px;
      margin-top: 10px;
    }
  }
  @media only screen and (min-width: 992px) {
    .present-location {
      height: 30px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px;
    }
  }
  .present-location__list {
    padding: 0;
    margin: 0;
  }
  .present-location__item {
    float: left;
    padding-left: 5px;
    list-style-type: none;
  }
  .present-location__link {
    margin: 0;
    font-size: 12px;
  }
  .present-location__link_path {
    text-decoration: none;
    color:gray;
    font-size: 12px;
    font-family: 'PT sans', sans-serif;
  }
  .present-location__link_end {
    color: black;
    font-size: 12px;
    font-family: 'PT sans', sans-serif;
  }
  input {
    height: 45px !important;
    padding: 1px !important;
    font-size: 18px !important;
    width: 90% !important;
      border: none;
      font-family: inherit;
      font-size: inherit;
      margin: 0;
      outline: none;
      -webkit-appearance: none;
  }
  
  input[type="submit"] { cursor: pointer; }
  
  
  .footer {
    height: 350px;
    padding: 0;
    margin: 0;
    background: #202020;
    margin-top: 120px;
    width: 100%;
  }
  @media only screen and (min-width: 768px) {
    .footer {
      padding: 0;
      margin: 0;
      background: #202020;
      height: 62px;
      width: 100%;
  
    }
  }
  @media only screen and (min-width: 992px) {
    .footer {
      padding: 0;
      margin: 0;
      background: #202020;
      height: 62px;
      width: 100%;
   
    }
  }
  .private-terms-mobile {
    width: 80%;
    font-size: 14px;
    height: 80px;
    margin-left: 10%;
  }
  @media only screen and (min-width: 768px) {
    .private-terms-mobile {
      display: none;
    }
  }
  @media only screen and (min-width: 992px) {
    .private-terms-mobile {
      display: none;
    }
  }
  .private-terms-mobile__text {
    position: relative;
    top: 50%;
    font-family: 'PT sans', sans-serif;
    color: #cccccc;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .social-mobile {
    padding-top: 40px;
    height: 80px;
    width: 80%;
    margin-left: 10%;
  }
  @media only screen and (min-width: 768px) {
    .social-mobile {
      display: none;
    }
  }
  @media only screen and (min-width: 992px) {
    .social-mobile {
      display: none;
    }
  }
  .social-mobile__g {
    fill: #f8faf1;
    float: left;
    height: 50px;
    width: 15%;
  }
  
  .location-mobile {
    width: 80%;
    font-size: 14px;
    height: 80px;
    color: gainsboro;
    margin-left: 10%;
  }
  @media only screen and (min-width: 768px) {
    .location-mobile {
      display: none;
    }
  }
  @media only screen and (min-width: 992px) {
    .location-mobile {
      display: none;
    }
  }
  .location-mobile__text {
    position: relative;
    top: 50%;
    color: white;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .private-terms {
    display: none;
  }
  @media only screen and (min-width: 768px) {
    .private-terms {
      display: block;
      float: left;
      height: 62px;
      width: 33%;
    }
  }
  @media only screen and (min-width: 992px) {
    .private-terms {
      display: block;
      float: left;
      height: 62px;
      width: 33%;
    }
  }
  .private-terms__text {
    font-family: 'PT sans', sans-serif;
    color: #cccccc;
    font-size: 10px;
    height: 62px;
    padding-left: 40px;
    display: table-cell;
    vertical-align: middle;
    line-height: 20px;
  }
  .social {
    display: none;
  }
  @media only screen and (min-width: 768px) {
    .social {
      display: block;
      float: left;
      width: 33%;
    }
  }
  @media only screen and (min-width: 992px) {
    .social {
      display: block;
      float: left;
      width: 33%;
    }
  }
  .social__list {
    margin: 0 auto;
    height: 62px;
    width: 45%;
  }
  .social__facebook {
    fill: #f8faf1;
    float: left;
    height: 62px;
    width: 20%;
    line-height: 62px;
  }
  .social__twitter {
    fill: #f8faf1;
    float: left;
    height: 62px;
    width: 20%;
    line-height: 62px;
  }
  .social__pinterest {
    fill: #f8faf1;
    float: left;
    height: 62px;
    width: 20%;
    line-height: 62px;
  }
  .social__youtube {
    fill: #f8faf1;
    float: left;
    height: 62px;
    width: 20%;
    line-height: 62px;
  }
  .social__instagram {
    fill: #f8faf1;
    float: left;
    height: 62px;
    width: 20%;
    line-height: 62px;
  }
  .location {
    display: none;
  }
  @media only screen and (min-width: 768px) {
    .location {
      display: block;
      float: right;
      width: 33%;
      height: 62px;
      text-align: right;
    }
  }
  @media only screen and (min-width: 992px) {
    .location {
      display: block;
      float: right;
      width: 33%;
      height: 62px;
      text-align: right;
    }
  }
  .location__text {
    margin-left: auto;
    margin-right: auto;
    color: #cccccc;
    padding-right: 20px;
    float: right;
    font-size: 12px;
    font-family: 'PT sans', sans-serif;
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .your-class {
    padding: 0;
    margin: 0;
  }
  /* the slides */
  .slick-slide {
    margin: 0 10px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -10px;
  }
  .prev {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .next {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  #choice {
    display: none;
  }
  #choice {
    display: none;
  }
  .hidden-menu {
    display: block;
    position: relative;
    padding: 10px;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 300px;
    background-color: #202020;
    border: 2px solid #615f5f;
    left: -300px;
    -webkit-transition: left .2s;
    transition: left .2s;
    z-index: 2;
  }
  .choice-container {
    color: #4f585f;
    background: #4f585f;
    padding: 5px 5px 10px 5px;
    position: absolute;
    top: 137px ;
    left: 30px;
    cursor: pointer;
    -webkit-transition: left.25s;
    transition: left.25s;
    z-index: 5;
    width: 40px;
  }
  .choice-container span {
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    -webkit-transition: all .1s linear .25s;
    transition: all .1s linear .25s;
    position: relative;
  }
  #choice:checked ~ .choice-container {
    background: #202020;
    left: 250px;
  }
  #choice:checked ~ .hidden-menu {
    left: 0;
  }
  #choice:checked ~ .choice-container .button-choice_1 {
    -webkit-transform: rotate(45deg);
    top: 10px;
  }
  #choice:checked ~ .choice-container .button-choice_2 {
    opacity: 0;
  }
  #choice:checked ~ .choice-container .button-choice_3 {
    -webkit-transform: rotate(135deg);
    top: -10px;
  }
  .hidden-menu__title {
    width: 100%;
    height: 45px;
  }
  .mobile-navigation{
    display: block;
  }
  @media only screen and (min-width: 768px) { .mobile-navigation{
    display: none;
  }
  }
  @media only screen and (min-width: 922px) { .mobile-navigation{
    display: none;
  }
  }
  .menu__item{
    padding:5px;
    text-align: center;
    color:rgb(222, 224, 211);
  
    list-style-type:none;
  }
  .menu__item a{
    color:rgb(222, 224, 211)
  }